.rowTopContent {
    background-color: #E7E5DF;
    padding-left: 10%;
}

.rowMidContent {
    /* background-color: rgb(236, 115, 115);
    border: 1px solid #393E41; */
}

.colMidConent {
    background-color: #E7E5DF;
    border: 0px solid black ;
}

.card-link {
    background-color: rgba(0, 0, 0, 0)!important;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card-link:hover {
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.courseList {
    background-color: #E7E5DF;
    padding-top: 1%;
    padding-bottom: 1%;
    align-self: center;
}

.titleCourse {
    background-color: #393E41;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: 1.5px solid #D3D0CB;
    color: #E7E5DF;
}

.nav-link {
    color: #44BBA4!important;
}

.nav-link.active {
    background-color: #44BBA4!important;
    color: #E7E5DF!important;
}

.nav-link:hover {
    background-color: #44BBA4;
    color: #E7E5DF!important;
}
